[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
drftoolbox = {editable = true, path = "."}

[dev-packages]
coverage = "*"
coveralls = "*"
pylint = "*"
pylint-django = "*"
pylint-plugin-utils = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
python-jose = "*"
djangorestframework-camel-case = "*"
drftoolbox = {editable = true, path = "."}
